@use '../../core/styles/functions.scss' as *;

.home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    padding-top: $nav-height;
}